.DropDown {
    --dropdown-min-height: 30px;
    min-height: var(--dropdown-min-height);
    min-width: max-content;
    position: relative;
    display: inline-block;
    --dropdown-padding-left: 6px;
    --dropdown-padding-top-bottom: 3px;
}

.DropDown, .DropDown ul, .DropDown .label, .DropDown ul li {
    box-sizing: border-box;
    background-color: rgb(54, 54, 54);
    color: var(--default-color);
}

.DropDown ul {
    list-style-type: none;
    margin-block: 0;
    padding-inline: 0;
    position: absolute;
    top: 100%;
    z-index: 1;
    height: 100%;
}

.DropDown ul[data-isopen="false"] {
    display: none;
}

.DropDown ul, .DropDown ul li:last-child {
    border-radius: 0 0 9px 9px;
}

.DropDown ul, .DropDown .label {
    width: 100%;
}

.DropDown .label,
.DropDown li {
    min-height: var(--dropdown-min-height);
    font-weight: 600;
    display: block;
    padding: var(--dropdown-padding-top-bottom) 0;
    padding-left: var(--dropdown-padding-left);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: clip;
}

.DropDown li {
    width: 100%;
}

.DropDown li[data-selected="true"], .DropDown .label {
    background: #1e1e1e;
}

.DropDown li[data-selected="false"]:hover {
    background: black;
}

.DropDown:hover .label, .DropDown:hover ul {
    cursor: pointer;
    box-shadow: -1px 1px 4px -1px rgba(227, 211, 191, 0.7);
}

.DropDown .defaultValue {
    font-style: italic;
    color: #787878;
}

