.DropDown {
    height: 30px;
    position: relative;
    display: inline-block;
    --dropdown-padding-left: 6px;
    --dropdown-padding-top-bottom: 3px;
}

.DropDown [data-isopen="false"] {
    display: none;
}

.DropDown ul {
    list-style-type: none;
    margin-block: 0;
    padding-inline: 0;
    border-top: 1px solid black;
    position: absolute;
    top: 100%;
    z-index: 1;
}

.DropDown ul, .DropDown label {
    width: calc(100% - var(--dropdown-padding-left));
}

.DropDown label,
.DropDown li {
    height: 24px;
    font-weight: 600;
    display: block;
    padding: var(--dropdown-padding-top-bottom) 0;
    padding-left: var(--dropdown-padding-left);
    background-color: #336395;
    color: #0d0d0d;
}

.DropDown li {
    width: 100%;
    overflow: clip;
    text-wrap: nowrap;
}

.DropDown li[data-selected="true"] {
    background-image: radial-gradient(ellipse at 20% 0%, #f5e1c9, #f7d3a9, #2e422e);
}

.DropDown label {
    background-image: radial-gradient(ellipse at 20% 0%, #f5e1c9, #f7d3a9, #2e422e);
}

.DropDown li:hover {
    background: #f7d3a9;
}

.DropDown label:hover, .DropDown:focus {
    box-shadow: -1px 1px 6px 1px #336395;
    outline: none;
}

.DropDown .defaultValue {
    font-style: italic;
    color: #4a4a4a;
    background-color: #efdbc3;
}

