.App {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-x: clip;
  width: 100%;
  height: 100%;
  align-items: center;
}

.App-header h1 {
  color: var(--h1-color);
  margin: 10px 5px;
}

.App-body {
  display: flex;
  width: 100%;
  max-width: 800px;
  flex-direction: column;
  position: relative;
  --padding-left-right: 20px;
}

.App-body h2 {
  margin: 0.3rem 0;
}

.App-body h3 {
  margin: 0.5rem 0;
}

.App-body p {
  margin: 0.5rem 0;
}

#earth {
  --earth-size: 450px;
  position: absolute;
  width: var(--earth-size);
  height: var(--earth-size);
  clip-path: circle(46%);
  display: block;
  background-image: linear-gradient(rgba(0, 0, 0, var(--background-opacity)), rgba(0, 0, 0, var(--background-opacity))), url("../../assets/earth.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  animation-name: rotate;
  animation-duration: 180s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  top: 80px;
  margin-left: auto;
  margin-right: auto;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
