.App {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-x: clip;
  width: 100%;
  min-height: inherit;
  align-items: center;
  --earth-size: 450px;
  padding: 0 0.5rem;
  max-width: 800px;
  min-width: 250px;
  margin-left: auto;
  margin-right: auto;
}

.App-header {
  width: 100%;
  border-bottom: 1px solid white;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-header h1 {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

.App-footer {
  height: 75px;
  margin-top: auto;
  width: 100%;
  border-top: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: inherit;
}

.App-footer h3 {
  margin: auto;
}

.socials {
  margin: auto;
  display: flex;
  flex-direction: row;
}

.social-link-container {
  padding: 0 4px;
}

.social-link {
  color: var(--default-color);
}

.App-body {
  display: flex;
  width: 100%;
  flex-direction: column;
  position: relative;
  --padding-left-right: 20px;
}

.App-body h2 {
  padding: 0.4rem 0;
  margin: 0;
}

.App-body h3 {
  padding: 0.5rem 0;
  margin: 0;
}

.about>p {
  line-height: 1.8rem;
}

.paragraph-container {
  --bg-color: rgba(50, 50, 50, 0.4);
  padding: 0 0.8rem 0.8rem;
  background-color: var(--bg-color);
  box-shadow: -1px 1px 8px 1px var(--bg-color);
  border-radius: 0.4rem;
  margin: 0.8rem 0;
}

.paragraph-container p {
  line-height: 1.8rem;
  border-left: 5px solid #000000;
  padding-left: 0.5rem;
  padding-right: 0.2rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  margin: 0.2rem;
  color: var(--default-color);
  background-color: rgb(29, 29, 29);
}

#earth {
  position: fixed;
  width: var(--earth-size);
  height: var(--earth-size);
  clip-path: circle(46%);
  display: block;
  background-image: linear-gradient(rgba(0, 0, 0, var(--background-opacity)), rgba(0, 0, 0, var(--background-opacity))), url("../../assets/earth.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  animation-name: rotate;
  animation-duration: 180s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  top: 25%;
  margin-left: auto;
  margin-right: auto;
  transition: width 1s, height 1s;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 700px) {
  .App {
    padding: 0 0.6rem;
    --earth-size: 350px;
  }
}

@media screen and (max-width: 450px) {
  .App {
    --earth-size: 750px;
  }

  .paragraph-container {
    padding: 0 0.4rem 0.4rem;
    margin: 0.8rem 0;
  }

  .paragraph-container p {
    line-height: 1.8rem;
    padding-left: 0.5rem;
    padding-right: 0.2rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    margin: 0;
  }
}
