.Place-article {
    max-width: 100%;
    padding: 0 0.5em 0.8em 0.5em;
}

.place-article-header h2 {
    color: var(--h2-color);
    margin: 8px 0;
    padding-top: 8px;
    padding-bottom: 12px;
}

.article-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.gallery-container {
    position: relative;
    width: calc(100% - 0.4rem);
    margin: 1.2rem 0.2rem 0.2rem;
    height: 370px;
    overflow-x: hidden;
    transition: height 500ms;
}

.Place-article img {
    height: 100%;
    width: 100%;
    position: absolute;
    animation-duration: 5s;
    animation-timing-function: ease-out;/*cubic-bezier(0.4, 0.7, 1, 1);*/
    animation-iteration-count: 1;
    --initial-opacity: 0.3;
}

.Place-article img.animate-in {
    animation-name: inFromRight;
    left: 0;
}

.Place-article img.animate-out {
    animation-name: outToLeft;
    left: 0;
}

.Place-article .hidden {
    display: none;
}

.place-article-body {
    border-radius: 0.8rem 0.8rem 0 0;
    padding: 0.3rem;
    background-color: rgba(104, 104, 104, 0.8);
    color: black;
    box-shadow: -1px 1px 8px 1px white;
}

@keyframes inFromRight {
    0% {
        opacity: var(--initial-opacity);
        left: 100%;
    }


    100% {
        opacity: 1;
        left: 0;
    }
}

@keyframes outToLeft {
    0% {
        opacity: 1;
        left: 0;
    }

    100% {
        opacity: var(--initial-opacity);
        left: -100%;
    }
}

@media screen and (max-width: 700px) {
    .Place-article .gallery-container {
        height: 300px;
    }
}

@media screen and (max-width: 450px) {
    .Place-article .gallery-container {
        height: 210px;
    }
}
