.Search-form {
    flex-grow: 1;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
}

.Search-form .DropDown {
    min-width: 150px;
    max-width: max-content;
}

.Search-form .dropdowns,
.Search-form .mapDiv {
    --padding-left-right: 20px;
    --margin-top-or-bottom: 10px;
    width: 100%;
    padding: 0 var(--padding-left-right);
}

.Search-form .dropdowns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: var(--margin-top-or-bottom);
}

.Search-form .mapDiv {
    margin-top: var(--margin-top-or-bottom);
    height: 350px;
}
