:root {
  --h1-color: white;
  --h2-color: var(--h1-color);
  --place-article-width: 45%;
  --default-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  --default-color: #c1c2eb;
  --background-color: black;
}

body {
  color: var(--default-color);
  font-family: var(--default-font-family);
  --background-opacity: 0.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(rgba(0,0,0,var(--background-opacity)), rgba(0,0,0,var(--background-opacity))), url("./assets/galaxy-night-landscape.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
